modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AfricaPredicts Frontend"

[[workflows.workflow]]
name = "AfricaPredicts Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33463
externalPort = 8080

[[ports]]
localPort = 33615
externalPort = 8081

[[ports]]
localPort = 34427
externalPort = 8000

[[ports]]
localPort = 35813
externalPort = 3000

[[ports]]
localPort = 36121
externalPort = 9000

[[ports]]
localPort = 37531
externalPort = 5000

[[ports]]
localPort = 37895
externalPort = 8099

[[ports]]
localPort = 40375
externalPort = 6000

[[ports]]
localPort = 40747
externalPort = 3002

[[ports]]
localPort = 40753
externalPort = 3003

[[ports]]
localPort = 41083
externalPort = 8008

[[ports]]
localPort = 41631
externalPort = 6800

[[ports]]
localPort = 42181
externalPort = 5173

[[ports]]
localPort = 46229
externalPort = 4200

[[ports]]
localPort = 46335
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_WALLETCONNECT_ID = "ad5430505e81b8a112c85ab079f48f18"
